* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*variable*/
:root {
    --header-height: 4.5rem;

    /* colors */

    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
}

/*Base*/

.divider-1 {
    background: linear-gradient(270deg, hsla(var(--hue), 36%, 57%, 1) 0%, hsla(var(--hue), 65%, 88%, 0.34) 100%);
    height: 1px;
}
.divider-2 {
    background: linear-gradient(270deg, hsla(var(--hue), 65%, 88%, 0.34), hsla(var(--hue), 36%, 57%, 1));
    height: 1px;
}
img {
    width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
body {
    font: 400 1rem "DM Sans", sans-serif;
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}
html {
    scroll-behavior: smooth;
}
.title {
    font: 700 1.875rem "Poppins", sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.p-tb {
    padding: 5rem 0;
}

.p-tb .title {
    margin-bottom: 1rem;
}
section header {
    margin-bottom: 4rem;
}

header p strong {
    color: var(--base-color);
}

.grid {
    display: grid;
    gap: 2rem;
}

.btn {
    background-color: var(--base-color);
    color: var(--text-color-light);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 00.25rem;
    font: 500 1rem "DM sans", sans-serif;
}
.btn:hover {
    background: var(--base-color-alt);
    transition: 0.5s;
}

main {
    margin-top: calc(var(--header-height) + 2rem);
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

ul {
    list-style: none;
}
/*Header*/

.logo {
    font: 700 1.31rem "Poppins", sans-serif;
    color: var(--title-color);
}

.logo span {
    color: var(--base-color);
}
#header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: var(--body-color);
    top: 0;
    left: 0;
}

nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.5s;
}

nav .menu ul {
    display: none;
}

nav.show .menu ul {
    display: grid;
}

nav ul li {
    text-align: center;
}
nav ul li a {
    transition: color 0.5s;
    position: relative;
}
nav ul li a:hover {
    color: var(--base-color);
}
nav ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: linear-gradient(270deg, hsla(var(--hue), 36%, 57%, 1) 0%, hsla(var(--hue), 65%, 88%, 0.34) 100%);
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    transition: width 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}

#header.scroll {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.25);
}

/*mostar menu*/
nav.show .menu {
    opacity: 1;
    visibility: visible;
    background: var(--body-color);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

nav .show .menu {
    display: grid;
    place-content: center;
}

nav.show ul.grid {
    gap: 4rem;
}
/*toogle menu*/
.toggle {
    color: var(--base-color);
    font-size: 1.5rem;
    cursor: pointer;
}
nav .icon-close {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    right: 1.5rem;
    top: -1.5rem;
    transition: 0.8s;
}

nav.show div.icon-close {
    visibility: visible;
    opacity: 1;

    top: 1.5rem;
}

/*home*/
#home {
    overflow: hidden;
}
#home .container {
    margin: 0;
}
#home .image {
    position: relative;
}
#home .image::before {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -18%;
    left: 11%;
}
#home .image::before,
#home .image img {
    border-radius: 0.25rem;
}

#home .image img {
    position: relative;
    right: 2.93rem;
}
#home .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
    color: black;
}

#home .text h1 {
    margin-bottom: 1rem;
}
#home .text p {
    margin-bottom: 2rem;
    max-width: 100%;
}

/*about*/
#about {
    background: white;
}

#about .container {
    margin: 0;
}
#about .image {
    position: relative;
}
#about .image::before {
    content: "";
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    top: -10%;
    left: -16%;
}
#about .image::before,
#haboutome .image img {
    border-radius: 0.25rem;
}

#about .image img {
    position: relative;
}
#about .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: black;
}

/*services*/
.cards.grid {
    gap: 1.5rem;
}
.card {
    padding: 3.625rem 2rem;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 0.15rem solid var(--base-color);
    border-radius: 0.25rem 0.25rem 0 0;
    text-align: center;
    background: #f1f1f1;
}

.card i {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 5rem;
    color: var(--base-color);
}
.card .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}

/*Depoimentos*/

#testimonials {
    background: white;
}

#testimonials .container {
    margin-left: 0;
    margin-right: 0;
}

#testimonials header {
    margin-bottom: 0;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#testimonials blockquote {
    padding: 2rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 00.25rem;
}
#testimonials blockquote p {
    position: relative;
    text-indent: 1.87rem;
    margin-bottom: 1.5rem;
    color: var(--title-color);
}
#testimonials blockquote p span {
    font: 700 3rem serif;
    position: absolute;
    top: -0.875rem;
    left: -1.87rem;
    color: var(--base-color);
}
#testimonials cite {
    display: flex;
    align-items: center;
    font-style: normal;
    color: var(--text-color);
}

#testimonials cite img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    clip-path: circle();
    margin-right: 0.5rem;
}

/*testimonials swiper*/
.swiper-slide {
    height: auto;
    padding: 4rem 1rem;
}

.swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
}
.swiper-pagination-bullet-active {
    background: var(--base-color);
}

/*Contato*/

#contact {
    background: #f1f1f1;
}
#contact .grid {
    gap: 4rem;
}
#contact .text p {
    padding-bottom: 2rem;
}

#contact ul.grid {
    gap: 2rem;
}

#contact .btn i {
    margin-right: 0.625rem;
    font-size: 1.5rem;
}

#contact ul li {
    display: flex;
    align-items: center;
}
#contact ul li i {
    margin-right: 0.625rem;
    color: var(--base-color);
}

/*footer*/
footer {
    background: var(--base-color);
}

footer .logo-alt {
    font: 700 1.31rem "Poppins", sans-serif;
    color: var(--title-color);
    display: inline-block;
    margin-bottom: 1.5rem;
}

footer .logo-alt span {
    color: var(--body-color);
}

footer .brand p {
    color: var(--text-color-light);
    margin-bottom: 0.75rem;
}

footer i{
    
    font-size: 1.5rem;
    color: var(--text-color-light);
}

footer .social a{
    margin-right: 2rem;
    transition: .3s;
    display: inline-block;
}

footer .social a:hover{
    transform: translateY(-5px);
}

/*responsive*/
/* estra large devices: 1200 >*/
/*large devices: 1023 >*/
/*Large devices: 992 > */

@media (min-width: 992px) {
    
} 
/*medium devices: 767 >*/
